

# =========================
# Project Files
# =========================

# Release
release/*
*.cache

# Swap
*.swp

# Vim temporary file
*.swo

# Arma
*.pbo
texHeaders.bin
*.biprivatekey

# Tools temp
tools/temp
addons/b_afgpolice/$PBOPREFIX$
addons/b_afgpolice/CfgVehicles.hpp
addons/b_afgpolice/CfgVehicles.hpp
